body{
    background-color: #181b64;
    font-family: 'Roboto Condensed'; font-size: 22px;
}

.musaic{
    letter-spacing: 13px;
    width: 1645px;
}

.registerInput{
    width: 480px;
    height: 30px;

}

.registerEmail{
    position: absolute;
    top: 295px;
    left: 0;
    width: 1563px;
    height: 100px;
}

.registerPassword{
    position: absolute;
    top: 386px;
    left: 0;
    width: 1526px;
    height: 100px;

}

.registerConfirmPassword{
    position: absolute;
    top: 477px;
    left: 0;
    width: 1599px;
    height: 100px;
}

.forgotPassword{


}

.loginButton{
    border-radius: 25px;
    padding: 12px 28px;
    color: black;
    background-color: #DDD5B8;
    border: 2px solid black;
    font-size: 20px;
    width: 206px;
}

.noAccountText{

}

.signUpButton{
    border-radius: 25px;
    padding: 12px 28px;
    color: black;
    background-color: #fcf2d1;
    border: 1px solid black;
    font-size: 20px;
    width: 206px;
}

hr{
    background-color: pink; 
    width: 25.39%;
}